<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GW2 Daily</title>
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
    <link href="https://d1h9a8s8eodvjz.cloudfront.net/fonts/menomonia/08-02-12/menomonia.css" rel="stylesheet" />

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    <script src="{{ asset('js/jquery-3.0.0.min.js') }}"></script>
    <script src="{{ asset('js/ajax.js') }}"></script>
    <script>
        /*$( document ).ready(function() {
            var width = window.innerWidth;
            var height = window.innerHeight;
            $('nav').html(width + ':' + height);
        });*/
    </script>
</head>
<body>
    <header>
        <h1>GW2 Daily</h1>
        <nav>
            <a onclick="ajax(event)" id="pve" href="{{ path('daily_show', {'page': 'pve'}) }}" />PvE</a>
            <a onclick="ajax(event)" id="pvp" href="{{ path('daily_show', {'page': 'pvp'}) }}" />PvP</a>
            <a onclick="ajax(event)" id="wvw" href="{{ path('daily_show', {'page': 'wvw'}) }}" />WvW</a>
        </nav>
    </header>
    <main style="background-image: url({{ asset('') }}) ">
        {% block content %}{% endblock %}
    </main>
</body>
</html>