{% extends app.request.xmlHttpRequest
    ? 'default/ajax.html.twig'
    : 'base.html.twig'
%}

{% block content %}
    <div class="daily-container">
        <ul class="{{ page }}">
            {% for daily in dailies_info %}
                <li>
                    <a class="daily-btn" href="#">
                        <img class="daily-icon" src="{{ asset('images/'~ page ~'.png') }}" />
                        <h2>{{ daily.name }}</h2>
                        <span>{{ daily.requirement }}</span>
                        <span class="daily-desc">{{ daily.description }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
